// === VARIABLES ===
@import "./typography";
@import "./indents";
@import "./colors";
@import "./shadows";
@import "./breakpoints";
@import "./animations";

$container-width: 1230px;
$container-padding: 15px;
$header-height: 789px;
$header-container-width: 800px;
$main-menu-height: 100px;

